.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
  padding: 20px 40px;
  grid-auto-flow: dense;

  &-image1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/images/gallery1.jpg");
    align-content: center;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 5px 0px #4a4a4a;
    transition: 1s;
  }
  &-image2 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery2.jpg");
  }
  &-image3 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery3.jpg");
  }
  &-image4 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery4.jpg");
  }
  &-image5 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery5.jpg");
  }
  &-image6 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery6.jpg");
  }
  &-image7 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery7.jpg");
  }
  &-image8 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery8.jpg");
  }
  &-image9 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery9.jpg");
  }
  &-image10 {
    @extend .gallery-image1;
    background-image: url("../assets/images/gallery10.jpg");
  }
  &-image11 {
    @extend .gallery-image1;
    background-image: url(../assets/images/gallery11.jpg);
  }
  &-image12 {
    @extend .gallery-image1;
    background-image: url(../assets/images/gallery12.jpg);
  }
  div {
    transition: 1s;
    &:hover {
      transform: scale(1.03);
    }
  }
}
