.navbar img {
  width: 100px;
  height: 25px;
  object-fit: cover;
}
.navbar-custom {
  background-color: #b61212;
}

.offcanvas {
  background-color: #b61212;
}
.offcanvas-body ul li a {
  text-decoration: none;
  background-color: #b61212;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.dropdown-menu {
  background-color: #b61212;
}

.dropdown-item:hover {
  background-color: #b61212;
}
