.reduced-flexbox {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

@mixin flexbox($justify-content, $align-items, $gap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin images($width, $height, $object-fit) {
  width: $width;
  height: $height;
  object-fit: $object-fit;
}
